<nb-card class="rounded-2 myCard">
    <nb-card-body class="container-fluid">
        <div class="row">
            <div class="col-3">
                <nb-calendar showWeekNumber="true" [date]="date" (dateChange)="handleDateChange($event)"></nb-calendar>
                <nb-card class="mh-50 mt-5 mb-0" accent="success">
                    <nb-card-header>
                        <h5 class="text-center titulo">Nova Reserva</h5>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row align-items-center">
                            <div class="col-12">
                                <form [formGroup]="newBooking" (ngSubmit)="createSchedule(newBooking.value)">
                                    <nb-form-field>
                                        <nb-icon nbPrefix icon="person" pack="eva"></nb-icon>
                                        <nb-select fullWidth shape="semi-round" formControlName="idClient" placeholder="Nome do Cliente">
                                            <nb-option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</nb-option>
                                        </nb-select>
                                    </nb-form-field>
                                    <br>
                                    <nb-form-field>
                                        <nb-icon nbPrefix icon="scissors" pack="eva"></nb-icon>
                                        <nb-select fullWidth shape="semi-round" formControlName="idService" placeholder="Serviço">
                                            <nb-option *ngFor="let service of services" [value]="service.id">{{ service.name }}</nb-option>
                                        </nb-select>
                                    </nb-form-field>
                                    <br>
                                    <nb-form-field>
                                        <nb-icon nbPrefix icon="lock" pack="eva"></nb-icon>
                                        <input type="date" nbInput fullWidth shape="semi-round" formControlName="scheduledAt"
                                            disabled>
                                    </nb-form-field>
                                    <br>
                                    <nb-form-field>
                                        <nb-icon nbPrefix icon="clock" pack="eva"></nb-icon>
                                        <input type="time" nbInput fullWidth shape="semi-round" formControlName="time">
                                    </nb-form-field>
                                    <button class="mt-3" [nbSpinner]="scheduleSpinner" nbSpinnerStatus="control" nbButton fullWidth hero status="success" type="submit"
                                        [disabled]="scheduleButton">Reservar</button>
                                </form>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-3">
                <nb-card class="m-0 h-100" accent="success" [nbSpinner]="scheduleCardSpinner" nbSpinnerStatus="control">
                    <nb-card-header>
                        <h5 class="text-center titulo">Reservas</h5>
                    </nb-card-header>
                    <nb-card-body class="p-0 m-0 card-reserva">
                        <div class="row reserva" *ngFor="let book of bookings" (click)="selectBook(book)">
                            <div class="col-9">
                                <h6 class="text-capitalize pt-2 pl-3">{{ book.client }}</h6>
                                <p class="pl-3">{{book.service}}</p>
                            </div>
                            <div class="col-3 my-auto">
                                <h4 class="pr-3">{{book.time}}</h4>
                            </div>
                        </div>
                        <p *ngIf="emptySchedule" class="mt-3 text-center">Nenhuma reserva encontrada</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-6">
                <nb-card class="h-100" accent="success">
                    <nb-card-header>
                        <div class="row">
                            <div class="col-12">
                                <h5 *ngIf="selectedBook.client === ''" class="text-center titulo">Nenhuma Reserva</h5>
                                <h5 *ngIf="selectedBook.client != ''" class="text-center titulo">Reserva de {{selectedBook.client | uppercase }}</h5>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-6">
                                <nb-toggle status="success" [checked]="toggleChecked" labelPosition="end" (checkedChange)="changeAvulso()">Venda Avulsa</nb-toggle>
                            </div>
                            <div class="col-6 d-flex align-items-end flex-column">
                                <button nbButton hero size="small" status="danger" type="submit" [disabled]="deleteButton" (click)="deleteSchedule()">Excluir</button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-9">
                                <h4 class="pl-1">Data</h4>
                                <p>{{selectedBook.scheduledAt}}</p>
                            </div>
                            <div class="col-3">
                                <h4 class="text-right pr-3">Horário</h4>
                                <p class="text-right pr-5">{{selectedBook.time}}</p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 text-center">
                                <div class="cart d-flex justify-content-center align-items-center">
                                    <h5 class="m-0 ml-auto">Carrinho</h5><nb-icon nbPrefix icon="shopping-cart" pack="eva"></nb-icon>
                                    <div class="ml-auto p-2 plus"><a (click)="openWindow()"><nb-icon nbPrefix icon="plus-circle" pack="eva"></nb-icon></a></div>
                                </div>
                                <nb-card class="cart-card rounded-0">
                                    <nb-card-body [nbSpinner]="cartCardSpinner" nbSpinnerStatus="control" class="p-0 cart-body">
                                        <div class="row" *ngFor="let item of cart">
                                            <div class="col-12 d-flex justify-content-between item-cart">
                                                <a class="my-auto ml-2 minus" (click)="removeItem(item)"><nb-icon nbPrefix icon="minus-circle" pack="eva"></nb-icon></a>
                                                <span class="py-2 my-auto">
                                                    <h6 class="titulo d-inline font-weight-bold">{{item.name}} - </h6>
                                                    <h6 class="titulo d-inline font-weight-bold">{{item.price | currency: 'BRL'}}</h6>
                                                </span>
                                                <p class="py-2 my-auto mr-2 font-weight-bold">Qtd: {{item.qty}}</p>
                                            </div>
                                        </div>
                                    </nb-card-body>
                                    <nb-card-footer class="cart rounded-0">
                                        <div class="row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <p class="my-auto titulo font-weight-bold">Preço Total: {{totalPrice |currency: 'BRL'}}</p>
                                        </div>
                                    </div></nb-card-footer>
                                </nb-card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button nbButton fullWidth hero status="danger" (click)="clearCart()">Limpar</button>
                            </div>
                            <div class="col-6">
                                <button nbButton fullWidth hero status="success" [nbSpinner]="finishSpinner" nbSpinnerStatus="control" [disabled]="finishSaleButton" (click)="finishSale()">Finalizar</button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>
