.myCard {
    background-color: #5b658c;
}

.card-reserva {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 645px;
    margin-bottom: 0;
}

.titulo {
    font-family: 'Roboto', sans-serif;
}

.reserva:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.cart-card {
    height: 350px;
    background-color: #414b66;
}

.cart {
    background-color: #0e1424;
}

.plus {
    background-color: #0e1424;
    cursor: pointer;
}

.minus {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.minus:hover {  
    color: lightgrey
}


.cart-body {
    overflow: auto;
}

.item-cart {
    background-color: #31384d;
}

.item-cart:hover {
    background-color: rgba(0,0,0,0.3);
}