<nb-layout>
    <nb-layout-column class="container m-auto">
        <nb-card accent="primary">
            <nb-card-body>
                <h5 class="text-center titulo">Alterar Senha</h5>
                <p class="pb-3 text-center titulo">Escolha uma das opções</p>
                <div class="row text-center">
                    <div class="col-6">
                        <button nbButton fullWidth hero [status]="statusCode" (click)="goCode()">Código</button>
                    </div>
                    <div class="col-6">
                        <button nbButton fullWidth hero [status]="statusOld" (click)="goOld()">Senha Antiga</button>
                    </div>
                </div>
                    <router-outlet></router-outlet>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>