<nb-layout>
    <nb-layout-header>
    </nb-layout-header>
    <nb-sidebar state="compacted">
        <div class="row">
            <div class="col-12">
                <a href="#" (click)="toggle()">
                    <nb-icon nbPrefix [icon]="sideToggle ? 'menu-arrow' : 'menu'" pack="eva"></nb-icon>
                </a>
            </div>
            <div class="col-12">
                <a href="#" (click)="toggle()" class="text-decoration-none">
                    <nb-icon nbPrefix icon="calendar" pack="eva" class="mt-5"></nb-icon><p *ngIf="sideToggle" class="ml-5 text-center d-inline sideFont">Teste 1</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" (click)="toggle()" class="text-decoration-none">
                    <nb-icon nbPrefix icon="alert-circle" pack="eva" class="mt-5"></nb-icon><p *ngIf="sideToggle" class="ml-5 text-center d-inline sideFont">Teste 2</p>
                </a>
            </div>
        </div>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>