<nb-layout>
    <nb-layout-header fixed>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../../../assets/teste2.png" alt="...">
                    <span class="float-right mt-3"><nb-user [name]="userName" [title]="userRole" color="#8a8a8a" [nbContextMenu]="contextItems" nbContextMenuTag="context-menu"></nb-user></span>
                </div>
            </div>
        </div>
    </nb-layout-header>
    <nb-sidebar state="compacted">
        <div class="row">
            <div class="col-12">
                <a href="#" (click)="toggle()" class="bar-icons">
                    <nb-icon nbPrefix [icon]="sideToggle ? 'menu-arrow' : 'menu'" pack="eva"></nb-icon>
                </a>
            </div>
            <div class="col-12">
                <a routerLink="dashboard" class="bar-icons">
                    <nb-icon nbPrefix icon="clipboard" pack="eva" class="mt-5"></nb-icon><p *ngIf="sideToggle" class="ml-5 text-center d-inline sideFont bar-icons">Dashboard</p>
                </a>
            </div>
            <div class="col-12">
                <a routerLink="clients" class="bar-icons">
                    <nb-icon nbPrefix icon="person" pack="eva" class="mt-5"></nb-icon><p *ngIf="sideToggle" class="ml-5 text-center d-inline sideFont bar-icons">Clientes</p>
                </a>
            </div>
            <div class="col-12">
                <a routerLink="items" class="bar-icons">
                    <nb-icon nbPrefix icon="archive" pack="eva" class="mt-5"></nb-icon><p *ngIf="sideToggle" class="ml-5 text-center d-inline sideFont bar-icons">Produtos & Serviços</p>
                </a>
            </div>
        </div>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>