<nb-layout>
    <nb-layout-header> <a (click)="goBack()"><nb-icon class="arrow-back" nbPrefix icon="arrow-back" pack="eva"></nb-icon></a><img class="mr-auto ml-auto" src="../../../assets/teste2.png" alt="..."></nb-layout-header>
    <nb-layout-column class="container">
        <nb-card accent="primary">
            <nb-card-body>
                <h5 class="text-center titulo">Recuperar Senha</h5>
                <p class="text-center titulo">Informe o e-mail para recuperar sua senha!</p>
                <div class="row">
                    <div class="col p-3 mt-2">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                            <nb-form-field>
                                <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon>
                                <input type="text" nbInput fullWidth shape="semi-round" placeholder="E-mail ou Usuário"
                                    formControlName="userKey">
                            </nb-form-field>
                            <div class="row mt-5">
                                <div class="col text-center">
                                    <button [nbSpinner]="spinnerForgot" nbButton fullWidth hero status="success" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>