<nb-card class="rounded-2 myCard">
    <nb-card-body class="container-fluid">
       <div class="row">
           <div class="col-4">
                <nb-card>
                    <nb-card-header>
                        TESTE
                    </nb-card-header>
                    <nb-card-body>
                        DJAKWOIDHAIOUWHJDAKJIWHDKALJHWD
                    </nb-card-body>
                </nb-card>
           </div>
           <div class="col-8">
            <nb-card>
                <nb-card-header>
                    TESTE
                </nb-card-header>
                <nb-card-body>
                    DJAKWOIDHAIOUWHJDAKJIWHDKALJHWD
                </nb-card-body>
            </nb-card>
       </div>
       </div>
    </nb-card-body>
</nb-card>
